@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-image: url('/assets/bg-hero.webp');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
}

.uphlogo {
    width: 120px;
}

.card-container {
    width: 90%;
    height: 515px;
    border-radius: 12px;
}

.card-container-review {
    width: 100%;
}

.card-box {
    margin-right: -6rem;
}

.btn-link {
    text-decoration: none;
}

.badge {
    padding: 10px 20px;
    background-color: #DFE9FF;
    color: #407BFF;
    width: min-content;
    height: min-content;
}

a {
    text-decoration: none;
}

/* CARD CONTENT */

.left-content {
    width: 26rem;
}

.form-information {
    width: 20%;
}

.left-content p {
    font-weight: 700;
    color: #7aa3ff;
}

.left-content h3 {
    font-size: 2.25rem /* 36px */;
    line-height: 3rem /* 40px */;
    font-weight: 600;
    color: #112369;
}

.left-content .children {
    font-size: 1.25rem /* 20px */;
    line-height: 1.75rem /* 28px */;
    color: #989898;
    font-weight: 400;
}

hr.solid {
    border-top: 3px solid #407BFF;
    width: 70px;
  }

hr.solid-modal {
    border-top: 1px solid #BCD1FF;
    /* width: 70px; */
  }

hr.solid-review {
    border-top: 3px solid #BCD1FF;
    margin: 0;
  }

/* index.html */
.homepage-container {
    gap: 10rem !important;
}

.graduate-logo {
    width: 208px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-login {
    font-size: 48px;
    font-weight: 700;
    color: white;
}

.welcome-login {
    font-weight: 500;
    color: white;
}

.card-login {
    border-radius: 10px;
    width: 300px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px !important;
}

.card-login:hover {
    transform: translate(3px, 0px);
    transition: 0.5s ease-in-out 0s;
}

.card-title {
    font-size: 1.25rem /* 20px */;
    line-height: 1.75rem;
    font-weight: 600;
    color: #112369;
}

.card-text {
    font-size: 14px /* 20px */;
    line-height: 1.2rem;
    color: #989898;
    margin-right: 7rem;
}

.icon-login {
    width: 40px;
}

/* NATIONALITY */
.card-nationality {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.05em;
    background-size: cover;
    transition: background-image 0.3s ease;
    background-position: center;
  }

  .card-nationality:hover {
    transform: scale(1.05);
  }

  .gradient-overlay {
    position: absolute;
    inset: 0;
    background-size: cover;
    transition: background-image 0.3s ease;
  }

  .dimmed {
    filter: brightness(50%);
  }

  .title-container {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
  }

  .icon {
    width: 120px;
    height: 96px;
    margin-bottom: 8px;
  }

  .title {
    font-size: 1.25rem; /* text-xl */
    width: 160px; /* w-40 */
  }

  .card-nationality .gradient-overlay:hover {
    background-image: linear-gradient(to top, #BCD1FF, #f1f1f122);
  }

  .card-nationality .title:hover {
    color: white;
  }

  /* CAMPUS */
.campus-grid {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 10px 10px; 
    grid-template-areas: 
      ". ."
      ". ."
      ". ."; 
}

/* PROGRAM.html */
.select-program-btn {
    background-color: #FF5351;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
}

.back-program-btn {
    color: #FF5351;
    font-weight: 600;
    font-size: 14px;
}

.back-program-btn:hover {
    color: #FF5351;
}

.select-program-btn:hover {
    background-color: #FF535199;
    color: white;
}

/* MODAL INSIDE PROGRAM.html */
.program-title {
    font-size: 26px;
    color: #112369;
}

.program-description {
    font-family: "Open Sans", sans-serif;
    color: #231F20;
}

.program-subtitle {
    font-weight: 700;
    color: #264A99;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.sub-program {
    text-transform: capitalize;
    color: #33363F;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-flow: row; /
}

/* PERSONALINFORMATION.HTML */

.form-label {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #5C5C5C;
    font-size: 12px;
}

.form-control, .form-select {
    border: none;
    border-bottom: 2px solid #D3D3D3;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
}

.form-control:focus, .form-select:focus {
    box-shadow: none;
    border-bottom-color: #007bff;
}

/* REVIEW.html */

p.form-label-review {
    margin: 0;
}

.form-control-review {
    border: none;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
}

.form-label-review {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #264A99;
    font-size: 12px;
}

.back-review-btn {
    color: #7AA3FF;
    font-weight: 600;
    font-size: 14px;
}

.back-review-btn:hover {
    color: #7AA3FF99;
}

.review-modal-title {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #264A99;
    font-size: 20px;
}

.review-modal-subtitle {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #999999;
    font-size: 12px;
}

.modal-body-review {
    padding: 2rem;
}